<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.ilanguage.oprime.bilingualaphasiatest"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal">
      <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11"/>
    
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
	<uses-permission xmlns:android="http://schemas.android.com/apk/res/android" 
		android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application android:icon="@drawable/ic_oprime" android:label="@string/app_name">
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.BilingualAphasiaTestHome"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.BATSyntaxExperiment"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.SeeStimuliAndSpeakActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.SubExperiment"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.VideoSubExperiment"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.VideoSubExperimentSimple"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.ui.AccelerometerUIActivity"
                  android:label="@string/app_name">
        </activity>
		<activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.preferences.SetPreferencesActivity"
                  android:label="@string/app_name">
        </activity>     		
        <activity android:name="ca.ilanguage.oprime.bilingualaphasiatest.service.NotifyingController"
                  android:label="@string/app_name">
        </activity>
		<service android:name="ca.ilanguage.oprime.bilingualaphasiatest.service.AudioRecorderService" />
        		 
    </application>
</manifest>