<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.ilanguage.bilingualaphasiatest"
      android:versionCode="3"
      android:versionName="1.3"
      android:installLocation="preferExternal">
      <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
    
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET"/>
	
    <application android:name=".content.BilingualAphasiaTest" android:icon="@drawable/ic_oprime" android:label="@string/app_name">
         <activity android:name=".activity.BilingualAphasiaTestHome"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
		<activity
            android:name="ca.ilanguage.oprime.storybook.StoryBookSubExperiment"
            android:label="@string/app_name" >
         </activity>
         <activity
            android:name="ca.ilanguage.oprime.datacollection.VideoRecorderSubExperiment"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="ca.ilanguage.oprime.intent.action.START_VIDEO_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
         </activity>
         
         <service 
             android:name="ca.ilanguage.oprime.datacollection.SubExperimentToJson">
              <intent-filter>
                <action android:name="ca.ilanguage.oprime.intent.action.SAVE_SUB_EXPERIMENT_JSON" />
                <category android:name="android.intent.category.DEFAULT" />
              </intent-filter>
         </service>
         
    </application>
</manifest>
